html,
body,
.app{
	height: 100vh;
	background:#eee;
}

/* sidepanel */

.menu{
	padding: .5em 0 2em 0;
}

/* messages */

.messages{
	height: 440px;
	overflow-y: scroll;
	margin-bottom: 100px;
}

.messages__form{
	margin-left: 320px !important;
	position: fixed !important;
	bottom: 1em;
	left: 0;
	right: 22em;
	z-index: 200;
}

/* display messages */

.message__self{
	border-left: 2px solid orange;
	padding-left: 8px;
}

.message__image{
	padding: 1em;
}

/* color icon */
.color__container{
	cursor: pointer;
	position: relative;
	overflow: hidden;
	width: 35px;
	border-radius: 3px;
}

.color__square{
	width: 35px;
	height: 35px;
}

.color__overlay{
	width: 85px;
	height: 35px;
	transform: rotate(225deg);
}

/* emojipicker */
.emojipicker{
	position: absolute;
}